{% extends 'blog/base.html' %}
{% block head_title %} {{post.title}} - Blog {% endblock %}
{% block main_area %}
    <h1>{{ post.title }}</h1>
    {% if post.head_image %}
        <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image">
    {% else %}
        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/400" alt="random_image">
    {% endif %}

    <hr>
    <h4>{{ post.created_at }}</h4>
    <p>{{ post.content }}</p>
    <hr />
    <h3> 여기에 댓글</h3>
{% endblock %}
