{% extends 'blog/base_full_width.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}너의 생존은...{% endblock %}


{% block main_area %}

<h1>타이타닉 생존자 예측</h1><br>
<h2>죽었니 살았니..?</h2><br>

    <form action="{% url 'ml_result' %}"> 
        
        age_cat:     <input type="text" required name="age_cat"> <br><br>
        sex_female:  <input type="text" required name="sex_female"> <br><br>
        sex_male:    <input type="text" required name="sex_male"> <br><br>             
        embarked_C:  <input type="text" required name="embarked_C"> <br><br>
        embarked_Q:  <input type="text" required name="embarked_Q"> <br><br>
        embarked_S:  <input type="text" required name="embarked_S"> <br><br>
                     <input type="submit" name="" value="submit">
    </form>
    
{% endblock %}
